.env
_.env
.idea
.vscode
venv/
*.pyc
*.env
bin/
include/
share/
lib/
man/
lib64
.history/
dojahenv/
pip-selfcheck.json
pyvenv.cfg
celerybeat-schedule
celerybeat
celerybeat.pid
celerybeat-schedule.db
request.http
__pycache__
readme.md